<div style="border: 1px solid black; width: fit-content;">
<h3 style=" font-family: Arial; color:black; ">Name: Ahmad Afifi</h3>
<h3 style=" font-family: Arial; color:black; ">Email: AhmadAfifi505@gmail.com</h3>
<h3 style=" font-family: Arial; color:black; ">Mobile: 0549811893\0594337348</h3>
</div>

<span class="setup">Given Number</span>
<h1 class="punchline">{{ data }}</h1>

<button type="button" class="btn btn-success"
      (click)="fnAddNumber()">Add NUmber
</button>
<button type="button"
      class="btn btn-danger"
      (click)="deleteNumber()">Clear Number
</button>
